// ==========================================================================
// Colors
// ==========================================================================

// quaternary, quinary, senary, septenary, octonary, nonary, and denary,

$color-primary:         #3E4650 !default; //slate grey
$color-primary-dark:    darken( $color-primary, 15% ) !default; //slate grey
$color-secondary:       #BAA758 !default; // gold
$color-tertiary:        #E8BC52 !default;  //yellow

$color-quaternary:      #252C34 !default;
$color-quinary:         pink !default;
$color-senary:          purple !default;
$color-septenary:       turquoise !default;
$color-octonary:        yellow !default;
$color-nonary:          green !default;
$color-denary:          violet !default;

$color-lightest:   	    #FFFFFF !default;
$color-lighter:    		#F2F2F2 !default;
$color-light:      		#E0E0E0 !default;
$color-medium:     		#A4A4A4 !default;
$color-dark:       		#6E6E6E !default;
$color-darker:     		#444444 !default;
$color-darkest:    		#111111 !default;

// Every Other Element Change Background Color

$gradient-primary: linear-gradient(#999, #fffbef) !default;
$gradient-primary_fallback: #fffbef !default;


// Linear Gradient    https://gist.github.com/ykhs/3690526

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}