@import "vendor/modularscale-sass-3.0.9/stylesheets/modularscale.scss";

/*

https://github.com/modularscale/modularscale-sass

Note on non-integer values

Unfortunately Sass doesn’t natively support exponents. This isn’t all bad news, you can either use Compass, mathsass, or another library that has a pow() function that supports non-integer values and this plugin will pick up on that function and use it. You will then be able to write values like ms(2.5). This is also a prerequisite for target sizes below.
*/

$modularscale: (
  base: 1.2rem,
  ratio: 1.667 //major-sixth
);

p {
    font-size: ms(0);
    line-height: ms(1);
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    &:last-child {
            margin-bottom: .5rem;
        }    
  }


h1 {
    font-size: ms(2);
    line-height: ms(3);
}
h2 {
    font-size: ms(1);
    line-height: ms(2);
}
h3 {
    font-size: ms(0);
    line-height: ms(1);
}




/*-----------------------------------------------------------------------------*/
/* Headings                       
/*-----------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: greycliff;
    /* Leverage the font-display CSS feature to ensure text is user-visible while webfonts are loading */    
    font-display: auto;
    margin-block-start:0px;
    margin-block-end:0px;
}

// h1 { font-size: 2.2rem;   margin: 2rem 0rem;}
// h2 { font-size: 1.65;   margin: 2rem 0rem;}
// h3 { font-size: 2.5rem; margin: 2rem 0rem;}
// h4 { font-size: 2rem;   margin: 2rem 0rem;}
// h5 { font-size: 1.5rem; margin: 2rem 0rem;}
// h6 { font-size: 1rem;   margin: 2rem 0rem;}

// .heading-primary {    
//     font-weight: bold;
//     letter-spacing: 0rem;
//     font-size: 6rem;
//     line-height: 6rem;
//     margin: 1rem 0rem;
// }

// .heading-secondary {    
//     font-weight: medium;
//     letter-spacing: 0rem;
//     font-size: 4rem;
//     line-height: 4rem; 
// }

// .heading-tertiary {
//     font-weight: normal;      
//     letter-spacing: 0rem;
//     font-size: 2rem;
//     line-height: 2rem;      
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }



