// Website Specific Settings
// ====

// Inspired from 

// https://getpocket.com/
// 


/*-----------------------------------------------------------------------------*/
/* Entry-cards                       
/*-----------------------------------------------------------------------------*/

.entry-card {
    //width: span(12);
    float: left;
    padding: 1em;   
    @include breakpoint ($w--md){
        width: span(4);
    }
}

.entry-card:nth-of-type(1) {
    background-color: $color-primary;
    .heading-secondary {
        color: $color-medium;
    }
    .heading-primary {
        color: $color-secondary;
        font-size: 4rem;
        text-align: left;
    }
    p {
        color: $color-lightest;
    }
}

.entry-card:nth-of-type(2) {
    background-color: $color-lighter;
    .heading-secondary {
        color: $color-dark;
    }
    .heading-primary {
        color: $color-secondary;
        font-size: 4rem;
        text-align: left;  
    }
    p {
        color: $color-darker;
    }
}


.entry-card:nth-of-type(3) {
    background-color: $color-secondary;
    .heading-secondary {
        color: $color-lightest;        
    }
    .heading-primary {
        color: $color-primary;
        font-size: 4rem;
        text-align: left;  
    }
    p {
        color: $color-darkest;
    }
}